pyradiomics==3.0.1
numpy==2.2.0
pandas==2.3.0
scikit-learn==1.7.1
scipy==1.16.0
pingouin==0.5.5
umap-learn==0.5.9.post2
matplotlib==3.10.3
seaborn==0.13.2
shap==0.48.0
xgboost==3.0.2
tqdm==4.67.1
Pillow==11.3.0